---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts:any = Object.values(import.meta.glob('./posts/*.md', {eager: true}));
const pageTitle:string = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Blog posts are here..?!?!!</h2>
    <p>This is where links to blog posts will be displayed!</p>
    <ul>
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>

